<div class="mx-auto" style="width: 200px">
  <h3>Create a new Student</h3>
  <form class="ticket-form" [formGroup]="studentForm">
    <div class="mb-3">
      <label class="form-label">FirstName</label>
      <input
        [formControlName]="'FirstName'"
        type="text"
        class="form-control"
        id="FirstName"
        placeholder="FirstName"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">LastName</label>
      <input
        [formControlName]="'LastName'"
        type="text"
        class="form-control"
        id="LastName"
        placeholder="LastName"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Note</label>
      <input
        [formControlName]="'Note'"
        type="text"
        class="form-control"
        id="Note"
        placeholder="Note"
      />
    </div>
    <button type="submit" class="btn-custom" (click)="addStudent()">
      Create
    </button>
  </form>

  <!-- Uncomment below to see your form structure and how it changes-->
  <br /><br />{{ studentForm.getRawValue() | json }}
</div>
