<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>{{ ticket.title }}</h3>
  <i class="fas fa-calendar-alt"></i
  >{{ ticket.date | date : "shortTime" }} &nbsp;&nbsp;
  <i class="far fa-user"></i>{{ ticket.student }}
  <i *ngIf="ticket.major === 'SI'; then SI; else GE" class="far fa-user"
    >{{ ticket.major }}
  </i>

  <ng-template #SI>
    <i [style.padding]="'10px'" class="fa fa-user"></i>{{ ticket.major }}
  </ng-template>

  <ng-template #GE>
    <i [style.padding]="'10px'" class="fa fa-id-card" aria-hidden="true"></i
    >{{ ticket.major }}
  </ng-template>

  <button
    [style.margin-left]="'200px'"
    class="btn-custom"
    (click)="deleteTicket(ticket)"
  >
    Supprimer
  </button>
</div>
