<div class="card ticket" (click)="selectTicket()">
  <!-- we use the {{ }} syntax to display the data, more info: https://angular.io/guide/displaying-data-->
  <h3>{{ ticket.title }}</h3>
  <i class="fas fa-calendar-alt"></i
  >{{ ticket.date | date : "shortTime" }} &nbsp;&nbsp;
  <i class="far fa-user"></i>{{ ticket.student }}
  <i *ngIf="ticket.major === 'SI'; then SI; else GE" class="far fa-user"
    >{{ ticket.major }}
  </i>

  <ng-template #SI>
    <i [style.padding]="'10px'" class="fa fa-user">{{ ticket.major }}</i>
  </ng-template>

  <ng-template #GE>
    <i [style.padding]="'10px'" class="fa fa-id-card" aria-hidden="true">{{
      ticket.major
    }}</i>
  </ng-template>
  <!-- <i class="far fa-user" #GE>{{ ticket.major }}</i> -->
</div>
